// Colours
$primary-colour: #1b7c32;
$secondary-colour: #575757;
$teritary-colour: red;
$dark-background: #191919;

$light-grey: #676767;
$dark-grey: #515151;
$light-text: #ACACAC;

// Media Queries
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1600px;

// Fonts
$primary-font: 'Titillium Web', sans-serif;